<h1></h1>
<br>
<br>
<p>Click on the links to see some interesting data from the LinkedIn API:</p>
	<div id="stat_bar">
		<ul>
			<li><a href="/users/stats">LinkedIn Users</a></li>
			<li><a href="/user_industries/industry_stats">Industry Stats</a></li>
			<li><a href="/companies/company_stats">Company Stats</a></li>
			<li><a href="/co_sizes/size_stats">Company Sizes</a></li>
			<li><a href="/locations/location_stats">Location Stats</a></li>
		</ul>
	</div> 