<!--<link rel="stylesheet" href="https://raw.github.com/ehynds/jquery-ui-multiselect-widget/1.13/jquery.multiselect.css"/>-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/le-frog/jquery-ui.css"/>


<!--<div id="header">Header</div>
<div id="menu">My menu
<a href="/home.html" class="main">Home</a>
<a href="/books">Books</a>
</div>
<div id="content">My content</div>
<div id="searchArea">
  <label for="search">Live search box here</label>
  <input type="search" name="search" id="search" placeholder="Search Here"/>
</div>
<div id="footer">fffffffffffffffffffffffffffffffffffffff</div>-->
<div><input id="test" type="search"></div>

<div><select id="selectMenu" multiple="multiple" ></select></div>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="https://raw.github.com/ehynds/jquery-ui-multiselect-widget/1.13/src/jquery.multiselect.min.js"></script>
<script src="/script.js"></script>