<!DOCTYPE html>
<html>
<head>
  <title>Crawler</title>
  <%= javascript_include_tag(:application) %> 
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="navbar">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/statistics">Statistics</a></li>
			<li><a href="poi.html">Industries Graph</a></li>
		</ul>
	</div> 


<%= yield %>

</body>
</html>
